.container{
    width: 50vw;
    padding: 10vw;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;

    
}
.h1{
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: 900;
    font-family: var(--font-dm-sans);
}
.h2{
    font-size: 17px;
    margin-bottom: 28px;
    font-weight: 500;
}
.input{
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin: 10px 0px;
    height: 20px;
    border: 2px solid #C2C2C2;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
}
.button{
    width: 40%;
    /* height: 28px; */
    padding: 8px;
    font-size: 20px;
    margin-top: 28px;
    background: #ED5353;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 500;
    margin-bottom:16px ;

}
.footer{
    font-size: 18px;
    margin-top: 10px;
}
.underline{
    margin: 10px;
    font-weight: 700;
    text-decoration: underline;
}